* {
    margin: 0;
    padding: 0;
}

body, html {
    background-color: #171717;
    color: #fff;
    width: 100%;
    height: 100%;
}

p {
    font-size: 24px;
    font: Arial, sans-serif;
    margin: 10px 0;
}

select{
    margin: 5px 0;
    padding: 8px 2px;
    width: 100%;
    border: 2px solid green;
    border-radius: 6px;
    outline: none;
    font-weight: bold;
}

.formDv {
 width: 300px;
}

.bdd {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}